---
layout: base
title: blog.danielna.com
---

<section>
<h1 class="sr-only">My blog posts</h1>
{% for post in site.posts %}
    {% if forloop.last %}
    <article class="blog-post last">
    {% else %}
    <article class="blog-post">
    {% endif %}
      <header>
        <a class="blog-post__title" href="{{ post.url }}">{{ post.title }}</a>
      </header>
      {% if post.subtitle %}
        <p class="blog-post__subtitle">{{ post.subtitle }}</p>
      {% endif %}
      <footer>
        <p class="blog-post__date">
          {{ post.date | date: "%b %d, %Y" }}
        </p>
      </footer>
    </article>
{% endfor %}
</section>
