$page-padding: 0 40px;
$font-black: #222222;
$light-gray: #f2f2f2;
$less-light-gray: #adadad;
$color-blue: #0088CC;
$helvetica-neue: "Helvetica Neue", Helvetica,Arial,sans-serif;
$header-color: #ED2525;


//
// Blocks
html {
    height: 100%;
}

body {
    float: left;
    display: block;
    position: relative;
    height: 100%;
    background: url("/assets/img/bg_grid.png") repeat #000;
    font-family: "Open Sans", $helvetica-neue;
    color: #444;
}

div.wrapper {
    display: block;
    position: relative;
    float: left;
    background: url("/assets/img/paper.png") repeat #fff;
    border-right: 2px solid #444;
    min-height: 100%;
    width: 880px;
    padding: $page-padding;
}

header {
    display: block;
    position: relative;
    float: left;
    width: 100%;
    a.page-heading {
        float: left;
        display: block;
        font-family: $helvetica-neue;
        font-size: 42px;
        font-weight: bold;
        color: $header-color;
        // text-transform: uppercase;
        text-shadow: 0px 0px 1px #ccc;
        filter: dropshadow(color=#ccc, offx=0, offy=0);
        text-decoration: none;
        margin: 0 auto;
        padding: 20px 0;
    }
    div.right {
        float: right;
        display: block;
        text-align: right;
        margin-top: 30px;
        font-family: "Open Sans";
        font-size: 12px;
        line-height: 18px;
    }
}

div.container {
    position: relative;
    display: block;
    float: left;
    width: 100%;
    padding-bottom: 20px;
    section.tag-nav {
        position: relative;
        display: block;
        float: right;
        margin-bottom: 15px;
        font-size: 12px;
        a {
            color: $less-light-gray;
            display: inline-block;
            &.active {
                font-weight: bold;
                color: #999;
            }
        }

    }
    section#home {
        display: block;
        position: relative;
        .post-list {
            display: block;
            padding: 0;
            .post-list-item {
                float: left;
                display: block;
                margin-bottom: 25px;
                &.last {
                    margin-bottom: 0px;
                }
                a:hover {
                    background-color: transparent;
                }
                .post-date {
                    display: block;
                    float: left;
                    width: 125px;
                    font-size: 13px;
                    line-height: 19px;
                    font-family: Verdana;
                    text-transform: uppercase;
                    text-decoration: none;
                    color: #ADADAD;
                }
                span.tag {
                    font-size: 12px;
                    font-style: italic;
                    margin-left: 5px;
                    color: $less-light-gray;
                }
                .meta {
                    display: block;
                    float: left;
                    width: 740px;
                    border-left: 5px solid $light-gray;
                    padding-left: 10px;
                    .post-title { 
                        float: left;
                        display: block;
                        font-family: Helvetica;
                        font-size: 18px;
                        line-height: 26px;
                        font-weight: bold;
                        color: $font-black;
                        // text-transform: uppercase;
                        text-decoration: none;
                    }
                    .post-subtitle {
                        display: block;
                        float: left;
                        font-family: "Open Sans", $helvetica-neue;
                        font-size: 16px;
                        line-height: 24px;
                        margin: 0px;
                    }
                }
            }
        } 
    }
    div.post {
        display: block;
        position: relative;
        float: left;
        h1 {
            margin-top: 0px;
        }
    }
}

footer {
    position: relative;
    display: block;
    float: left;
    text-align: right;
    width: 100%;
    font-size: 12px;
    margin: 20px 0 5px;
}



//
// Generic DOM Elements

// Text
h1 {
    color: #222;
    font-family: $helvetica-neue;
    &.top {
        margin-top: 0px;
    }
}
h2 {
    position: relative;
    float: left;
    display: block;
    margin-bottom: 5px;
}

p {
    position: relative;
    display: block;
    float: left;
    font-family: "Open Sans", $helvetica-neue;
    font-size: 18px;
    line-height: 26px;
    color: #444;
    width: 100%;
    margin: 10px 0;
}

a {
    position: relative;
    display: inline;
    text-decoration: none;
    color: $color-blue;
    &:hover {
        // text-decoration: underline;
        div.container &, header div.right &, footer & {
            background-color: #E3F0F7;
        }
    }
}

blockquote {
    position: relative;
    display: block;
    float: left;
    border-left: 10px solid #f2f2f2;
    padding-left: 15px;
    margin-left: 20px;
    margin-bottom: 0px;
    p {
        font-family: "Vollkorn", Georgia;
        font-size: 20px;
        line-height: 30px;
        color: $header-color;
        margin-top: 0px;
        margin-bottom: 20px;
        &:last-child {
            margin-bottom: 0px;
        }
    }
    &.top {
        margin-top: 0px;
    }
}

p.quote-source {
    position: relative;
    display: block;
    float: right;
    text-align: right;
    font-family: "Playfair Display";
    margin-top: 0px;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-size: 14px;
}

div.caption {
    position: relative;
    display: block;
    float: right;
    font-family: "Open Sans", Georgia;
    text-align: right;
    font-style: italic;
    font-size: 14px;
    color: #666;
}






div.separator {
    position: relative;
    display: block;
    float: left;
    margin: 20px 0;
    text-align: center;
    width: 100%;
    font-size: 18px;
    color: #CCC;
}

div.photo-block {
    position: relative;
    display: block;
    float: left;
    margin-top: 15px;
    a:hover {
        background-color: transparent;
    }
    &.top {
        margin-top: 0px;
    }
}

img {
    width: 100%;
    &.pull-left {
        float: left;
        vertical-align: top;
        padding: 10px 25px 10px 0;
    }
    &#about-cheekswab {
        margin-top: 8px; 
        width: auto;
    }
    &.home-top {
        margin-bottom: 15px;
    }
}

ol {
    position: relative;
    display: block;
    float: left;
    counter-reset: li;
    margin-left: 30px;
    padding-left: 0;
    width: 100%;
    li {
        position: relative;
        margin: 0 0 10px 2em;
        padding: 4px 8px;
        list-style: none; 
        background: transparent;
        &:before {
            content: counter(li);
            counter-increment: li;
            position: absolute;
            top: 0px;
            left: -2em;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            width: 2em;
            margin-right: 8px;
            padding: 4px;
            color: #fff;
            background: #666;
            font-weight: bold;
            font-family: "Helvetica Neue", Arial, sans-serif;
            text-align: center;
        }
    }
}

ul {
    width: 100%;
    position: relative;
    display: block;
    float: left;
    li {
        margin-bottom: 4px;
    }
}


//
// Other

div.disqus-comments {
    position: relative;
    display: block;
    float: left;
    width: 100%;
    margin-top: 40px;
}

.hide-desktop {
    display: none;
}

//
// Media Queries

/* 500px width for 7" */
@media (max-width: 680px) {
    div.wrapper {
        width: 500px;
    }
    div.container section#home .post-list .post-list-item {
        .post-date {
            position: relative;
            float: left;
            display: block;
            font-size: 14px;
            line-height: 14px;
            margin-bottom: 0px;
            width: auto;
            vertical-align: bottom;
        }
        span.tag {
            position: relative;
            float: left;
            display: block;
            font-size: 12px;
            line-height: 18px;
            margin-left: 10px;
            vertical-align: bottom;
        }
        .meta {
            margin-top: 0px;
            border-left: 0px;
            padding-left: 0px;
            width: 100%;
            span.tag {
                display: none;
            }
            .post-subtitle {
                line-height: 16px;
            }
        }
    }
    .hide-desktop {
        display: inline-block;
    }

    img {
        width: 500px;
    }

    a#about-cheekswab-link {
        display: block;
        float: left;
        position: relative;
        width: 100%;
        clear: both;
        text-align: center;
        &:hover {
            background-color: transparent;
        }
        img#about-cheekswab {
            padding: 10px 0;
            margin: 0 auto;
        }
    }

    p {
        font-size: 16px;
        line-height: 24px;
    }

    ol {
        margin-left: 20px;
    }

    blockquote {
        margin-left: 5px;
    }
}

// 300px for iPhones
@media (max-width: 520px) {
     div.wrapper {
        width: 300px;
    }
    div.container section#home .post-list .post-list-item .meta .post-title {
        line-height: 22px;
    }

    p {
        font-size: 14px;
        line-height: 22px;
    }

    img#about-cheekswab {
        width: 300px;
    }

    ol {
        margin-left: 10px;
        li {
            padding: 3px 6px;
            font-size: 16px; 
            line-height: 24px;
        }
    }
    
    blockquote {
        margin-left: 0px;
        font-size: 18px;
        line-height: 28px;
    }

    img {
        width: 300px;
    }
}
