<div class="clearfix"></div>

<div class="disqus-comments">
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        // don't load disqus if you're on localhost
        if (window.location.href.indexOf("localhost") == -1) {
        var disqus_shortname = 'danielna';
        var disqus_identifier = window.location.pathname;

        /* * * DON'T EDIT BELOW THIS LINE * * */
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = 'https://' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        }
    </script>
</div>
