<footer class="footer" role="contentinfo">
    <a href="http://www.twitter.com/dxna" target="_blank">@dxna</a> <span aria-hidden="true">//</span>
    <a href="http://www.cheekswab.org/" target="_blank">Cheekswab.org</a> <span aria-hidden="true">//</span>
    <a href="http://www.fooddontlie.com/" target="_blank">Food Don't Lie</a> <span aria-hidden="true">//</span>
    <a href="http://www.linkedin.com/in/danielna" target="_blank">LinkedIn</a>
    <br/>
    <a href="http://www.danielna.com" target="_blank">danielna.com</a>
</footer>
