/* line 6, ../sass/screen.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 10, ../sass/screen.scss */
html {
  height: 100%;
}

/* line 14, ../sass/screen.scss */
body {
  display: block;
  height: 100%;
  background: url("/assets/img/bg_grid.png") repeat #000;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #444;
}

/* line 23, ../sass/screen.scss */
.wrapper {
  display: block;
  background-color: #fff;
  border-left: 2px solid #444;
  border-right: 2px solid #444;
  min-height: 100%;
  width: 995px;
  margin: 0 auto;
}

/* line 33, ../sass/screen.scss */
.content {
  padding: 0 40px;
}

/* line 37, ../sass/screen.scss */
.promo {
  display: block;
  width: 100%;
  margin-bottom: 18px;
}

/* line 43, ../sass/screen.scss */
header {
  display: block;
  width: 100%;
}
/* line 46, ../sass/screen.scss */
header a.page-heading {
  display: inline-block;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 42px;
  color: #ED2525;
  text-shadow: 0px 0px 1px #ccc;
  filter: dropshadow(color=#ccc, offx=0, offy=0);
  text-decoration: none;
  margin: 0 auto;
  padding: 20px 0;
}
/* line 57, ../sass/screen.scss */
header .right {
  float: right;
  display: inline;
  text-align: right;
  margin-top: 30px;
  font-size: 12px;
  line-height: 18px;
}

/* line 67, ../sass/screen.scss */
.container {
  display: block;
  width: 100%;
}
/* line 70, ../sass/screen.scss */
.container section.tag-nav {
  display: block;
  float: right;
  margin-bottom: 15px;
  font-size: 12px;
}
/* line 75, ../sass/screen.scss */
.container section.tag-nav a {
  color: #adadad;
  display: inline-block;
}
/* line 78, ../sass/screen.scss */
.container section.tag-nav a.active {
  font-weight: bold;
  color: #999;
}
/* line 86, ../sass/screen.scss */
.container section#home .post-list {
  display: block;
  padding: 0;
}
/* line 89, ../sass/screen.scss */
.container section#home .post-list .post-list-item {
  display: block;
  margin-bottom: 25px;
}
/* line 92, ../sass/screen.scss */
.container section#home .post-list .post-list-item.last {
  margin-bottom: 0px;
}
/* line 95, ../sass/screen.scss */
.container section#home .post-list .post-list-item a:hover {
  background-color: transparent;
}
/* line 98, ../sass/screen.scss */
.container section#home .post-list .post-list-item .post-date {
  display: inline-block;
  width: 115px;
  font-size: 13px;
  line-height: 19px;
  font-family: Verdana;
  text-transform: uppercase;
  text-decoration: none;
  color: #ADADAD;
  vertical-align: top;
}
/* line 109, ../sass/screen.scss */
.container section#home .post-list .post-list-item span.tag {
  font-size: 12px;
  line-height: 24px;
  font-style: italic;
  margin-left: 5px;
  color: #adadad;
}
/* line 116, ../sass/screen.scss */
.container section#home .post-list .post-list-item .meta {
  display: inline-block;
  width: 740px;
  border-left: 5px solid #f2f2f2;
  padding-left: 12px;
}
/* line 121, ../sass/screen.scss */
.container section#home .post-list .post-list-item .meta .post-title {
  font-family: Helvetica;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  color: #222222;
  text-decoration: none;
}
/* line 129, ../sass/screen.scss */
.container section#home .post-list .post-list-item .meta .post-subtitle {
  display: block;
  font-size: 14px;
  line-height: 24px;
  margin: 0px;
}
/* line 139, ../sass/screen.scss */
.container .post {
  position: relative;
}
/* line 141, ../sass/screen.scss */
.container .post h1 {
  margin-top: 0px;
}

/* line 147, ../sass/screen.scss */
footer {
  text-align: right;
  width: 100%;
  font-size: 12px;
  background-color: #fff;
}
/* line 152, ../sass/screen.scss */
footer.content {
  padding: 10px 40px;
}

/* line 164, ../sass/screen.scss */
h1, h2, h3, h4 {
  float: left;
  width: 100%;
  font-family: Helvetica;
  color: #222222;
}

/* line 170, ../sass/screen.scss */
h1 {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-bottom: 18px;
}
/* line 173, ../sass/screen.scss */
h1.top {
  margin-top: 0;
}

/* line 176, ../sass/screen.scss */
p, li {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  color: #444;
}
/* line 182, ../sass/screen.scss */
p strong, li strong {
  font-family: Helvetica;
}

/* line 187, ../sass/screen.scss */
p {
  margin: 0 auto 18px;
}
/* line 189, ../sass/screen.scss */
p.first {
  margin-top: 18px;
}

/* line 194, ../sass/screen.scss */
a {
  color: #0088CC;
  text-decoration: none;
}
/* line 198, ../sass/screen.scss */
.container a:hover, header .right a:hover, footer a:hover {
  background-color: #E3F0F7;
}

/* line 204, ../sass/screen.scss */
blockquote {
  display: block;
  float: left;
  border-left: 10px solid #f2f2f2;
  padding-left: 15px;
  padding-right: 15px;
  margin: 25px 0px 35px 20px;
}
/* line 211, ../sass/screen.scss */
blockquote p {
  width: 100%;
  font-size: 18px;
  line-height: 28px;
  font-weight: bold;
  color: #777;
  margin: 0 0 20px 0;
  width: 100%;
}
/* line 219, ../sass/screen.scss */
blockquote p:last-child {
  margin-bottom: 0px;
}
/* line 223, ../sass/screen.scss */
blockquote h2 {
  color: #333;
  margin-top: 0;
}
/* line 227, ../sass/screen.scss */
blockquote.top {
  margin-top: 0px;
}

/* line 232, ../sass/screen.scss */
.quote-source {
  display: block;
  float: right;
  text-align: right;
  margin: 0;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: normal;
  color: #222222;
}

/* line 243, ../sass/screen.scss */
.caption {
  display: block;
  font-family: "Open Sans", Georgia;
  text-align: right;
  font-size: 12px;
  color: #666;
}

/* line 251, ../sass/screen.scss */
.footnotes {
  margin-top: 15px;
  font-size: 12px;
}
/* line 254, ../sass/screen.scss */
.footnotes p {
  font-size: 12px;
}

/* line 259, ../sass/screen.scss */
.separator {
  display: block;
  margin: 0 0 1em;
  text-align: center;
  width: 100%;
  font-size: 18px;
  color: #CCC;
  clear: both;
}

/* line 269, ../sass/screen.scss */
.photo-block {
  display: block;
  clear: both;
  margin-top: 15px;
  margin-bottom: 18px;
}
/* line 274, ../sass/screen.scss */
.photo-block a:hover {
  background-color: transparent;
}
/* line 277, ../sass/screen.scss */
.photo-block.top {
  margin-top: 0px;
  margin-bottom: 0px;
}

/* line 283, ../sass/screen.scss */
img {
  width: 100%;
}
/* line 285, ../sass/screen.scss */
img.pull-left {
  float: left;
  vertical-align: top;
  padding: 10px 25px 10px 0;
}
/* line 290, ../sass/screen.scss */
img.home-top {
  margin-bottom: 15px;
}
/* line 293, ../sass/screen.scss */
img.bordered {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 2px;
  border: 1px solid #f2f2f2;
}

/* line 300, ../sass/screen.scss */
ol {
  position: relative;
  display: block;
  float: left;
  counter-reset: li;
  margin: 0 0 18px;
  padding: 15px 10px 15px 20px;
  width: 100%;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
}
/* line 310, ../sass/screen.scss */
ol li {
  position: relative;
  margin: 0 0 10px 2em;
  padding: 4px 8px;
  clear: both;
}

/* line 318, ../sass/screen.scss */
ul {
  width: 100%;
  position: relative;
  display: block;
  float: left;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 26px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 327, ../sass/screen.scss */
ul li {
  clear: both;
  margin-bottom: 4px;
}
/* line 331, ../sass/screen.scss */
ul.narrow {
  margin: 0;
}

/* line 335, ../sass/screen.scss */
p + ul,
h2 + ul,
ul + h2 {
  margin-top: 0;
}

/* line 340, ../sass/screen.scss */
li > ol {
  margin-top: 18px;
}

/* line 347, ../sass/screen.scss */
.cut-top {
  margin-top: 0;
}

/* line 350, ../sass/screen.scss */
.cut-bottom {
  margin-bottom: 0;
}

/* line 354, ../sass/screen.scss */
.disqus-comments {
  width: 100%;
  margin-top: 20px;
}

/* line 359, ../sass/screen.scss */
.hide-desktop {
  display: none;
}

/* line 364, ../sass/screen.scss */
.page-log ul {
  margin-top: 5px;
}
/* line 367, ../sass/screen.scss */
.page-log li {
  font-size: 14px;
  line-height: 21px;
}

/* line 373, ../sass/screen.scss */
.date {
  display: block;
  position: relative;
  font-weight: bold;
  font-family: Arial;
  float: left;
}

/* line 381, ../sass/screen.scss */
#help-content {
  display: none;
  position: relative;
  width: 80%;
  margin: 0 auto;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-color: #f2f2f2;
  border: 1px solid #bfbfbf;
  padding: 10px 20px;
  -moz-box-shadow: 0px 0px 5px #c1c1c1 inset;
  -webkit-box-shadow: 0px 0px 5px #c1c1c1 inset;
  box-shadow: 0px 0px 5px #c1c1c1 inset;
}

/* line 393, ../sass/screen.scss */
h1 + blockquote {
  margin-top: 0px;
}

/* 500px width for 7" */
@media (max-width: 680px) {
  /* line 402, ../sass/screen.scss */
  .wrapper {
    width: 600px;
  }

  /* line 405, ../sass/screen.scss */
  .content {
    padding: 0 30px;
    position: relative;
  }

  /* line 410, ../sass/screen.scss */
  .container section#home .post-list .post-list-item .post-date {
    position: relative;
    float: left;
    display: block;
    font-size: 13px;
    line-height: 13px;
    margin-bottom: 0px;
    width: auto;
    vertical-align: bottom;
  }
  /* line 420, ../sass/screen.scss */
  .container section#home .post-list .post-list-item span.tag {
    position: relative;
    float: left;
    display: block;
    font-size: 12px;
    line-height: 16px;
    margin-left: 10px;
    vertical-align: bottom;
  }
  /* line 429, ../sass/screen.scss */
  .container section#home .post-list .post-list-item .meta {
    margin-top: 0px;
    border-left: 0px;
    padding-left: 0px;
    width: 100%;
  }
  /* line 434, ../sass/screen.scss */
  .container section#home .post-list .post-list-item .meta span.tag {
    display: none;
  }
  /* line 437, ../sass/screen.scss */
  .container section#home .post-list .post-list-item .meta .post-subtitle {
    line-height: 16px;
  }

  /* line 442, ../sass/screen.scss */
  .hide-desktop {
    display: inline-block;
  }

  /* line 446, ../sass/screen.scss */
  p, li {
    font-size: 16px;
    line-height: 24px;
  }

  /* line 451, ../sass/screen.scss */
  ul {
    margin-left: 0px;
    padding-left: 20px;
  }
  /* line 454, ../sass/screen.scss */
  ul li {
    font-size: 16px;
    line-height: 24px;
  }

  /* line 460, ../sass/screen.scss */
  blockquote {
    margin-left: 5px;
  }
  /* line 462, ../sass/screen.scss */
  blockquote p {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 18px;
  }

  /* line 468, ../sass/screen.scss */
  .quote-source {
    font-size: 12px;
  }
}
@media (max-width: 520px) {
  /* line 475, ../sass/screen.scss */
  .wrapper {
    width: 380px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  /* line 479, ../sass/screen.scss */
  .container section#home .post-list .post-list-item .meta .post-title {
    line-height: 22px;
  }

  /* line 483, ../sass/screen.scss */
  h1 {
    font-size: 24px;
  }

  /* line 486, ../sass/screen.scss */
  h2, h3 {
    margin-top: 0;
  }

  /* line 489, ../sass/screen.scss */
  .photo-block {
    margin: 0 0 8px 0;
  }

  /* line 493, ../sass/screen.scss */
  p, li {
    font-size: 16px;
    line-height: 24px;
  }

  /* line 498, ../sass/screen.scss */
  ol {
    padding: 10px 10px 5px 10px;
  }

  /* line 502, ../sass/screen.scss */
  ul {
    padding-left: 10px;
  }
  /* line 504, ../sass/screen.scss */
  ul.narrow {
    margin-left: 5px;
  }
  /* line 506, ../sass/screen.scss */
  ul.narrow li {
    font-size: 14px;
  }

  /* line 512, ../sass/screen.scss */
  blockquote {
    margin-left: 0px;
  }
  /* line 514, ../sass/screen.scss */
  blockquote p {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 14px;
  }

  /* line 520, ../sass/screen.scss */
  .quote-source {
    font-size: 10px;
  }

  /* line 524, ../sass/screen.scss */
  a.post-title {
    margin: 3px 0;
    font-size: 16px !important;
    line-height: 18px !important;
  }

  /* line 529, ../sass/screen.scss */
  p.post-subtitle {
    font-size: 14px !important;
    line-height: 18px !important;
  }

  /* line 534, ../sass/screen.scss */
  .separator {
    margin-bottom: 1em;
  }
}
