/* line 7, ../sass/screen.scss */
html {
  height: 100%;
}

/* line 11, ../sass/screen.scss */
body {
  float: left;
  display: block;
  position: relative;
  height: 100%;
  background: url("/assets/img/bg_grid.png") repeat black;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #444;
}

/* line 22, ../sass/screen.scss */
.wrapper {
  display: block;
  position: relative;
  float: left;
  background-color: #fff;
  border-right: 2px solid #444;
  min-height: 100%;
  width: 880px;
  padding: 0 40px;
}

/* line 33, ../sass/screen.scss */
header {
  display: block;
  position: relative;
  float: left;
  width: 100%;
}
/* line 38, ../sass/screen.scss */
header a.page-heading {
  float: left;
  display: block;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 42px;
  color: #ed2525;
  text-shadow: 0px 0px 1px #ccc;
  filter: dropshadow(color=#cccccc, offx=0, offy=0);
  text-decoration: none;
  margin: 0 auto;
  padding: 20px 0;
}
/* line 50, ../sass/screen.scss */
header .right {
  float: right;
  display: block;
  text-align: right;
  margin-top: 30px;
  font-size: 12px;
  line-height: 18px;
}

/* line 60, ../sass/screen.scss */
.container {
  position: relative;
  display: block;
  float: left;
  width: 100%;
  padding-bottom: 20px;
}
/* line 66, ../sass/screen.scss */
.container section.tag-nav {
  position: relative;
  display: block;
  float: right;
  margin-bottom: 15px;
  font-size: 12px;
}
/* line 72, ../sass/screen.scss */
.container section.tag-nav a {
  color: #adadad;
  display: inline-block;
}
/* line 75, ../sass/screen.scss */
.container section.tag-nav a.active {
  font-weight: bold;
  color: #999;
}
/* line 82, ../sass/screen.scss */
.container section#home {
  display: block;
  position: relative;
}
/* line 85, ../sass/screen.scss */
.container section#home .post-list {
  display: block;
  padding: 0;
}
/* line 88, ../sass/screen.scss */
.container section#home .post-list .post-list-item {
  float: left;
  display: block;
  margin-bottom: 25px;
}
/* line 92, ../sass/screen.scss */
.container section#home .post-list .post-list-item.last {
  margin-bottom: 0px;
}
/* line 95, ../sass/screen.scss */
.container section#home .post-list .post-list-item a:hover {
  background-color: transparent;
}
/* line 98, ../sass/screen.scss */
.container section#home .post-list .post-list-item .post-date {
  display: block;
  float: left;
  width: 115px;
  font-size: 13px;
  line-height: 19px;
  font-family: Verdana;
  text-transform: uppercase;
  text-decoration: none;
  color: #ADADAD;
}
/* line 109, ../sass/screen.scss */
.container section#home .post-list .post-list-item span.tag {
  font-size: 12px;
  line-height: 24px;
  font-style: italic;
  margin-left: 5px;
  color: #adadad;
}
/* line 116, ../sass/screen.scss */
.container section#home .post-list .post-list-item .meta {
  display: block;
  float: left;
  width: 740px;
  border-left: 5px solid #f2f2f2;
  padding-left: 12px;
}
/* line 122, ../sass/screen.scss */
.container section#home .post-list .post-list-item .meta .post-title {
  float: left;
  display: block;
  font-family: Helvetica;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  color: #222222;
  text-decoration: none;
}
/* line 132, ../sass/screen.scss */
.container section#home .post-list .post-list-item .meta .post-subtitle {
  display: block;
  float: left;
  font-size: 14px;
  line-height: 24px;
  margin: 0px;
}
/* line 143, ../sass/screen.scss */
.container .post {
  display: block;
  position: relative;
  float: left;
}
/* line 147, ../sass/screen.scss */
.container .post h1 {
  margin-top: 0px;
}

/* line 153, ../sass/screen.scss */
footer {
  position: relative;
  display: block;
  float: left;
  text-align: right;
  width: 100%;
  font-size: 12px;
  margin: 20px 0 5px;
}

/* line 169, ../sass/screen.scss */
h1 {
  color: #222222;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-bottom: 18px;
}
/* line 173, ../sass/screen.scss */
h1.top {
  margin-top: 0px;
}

/* line 177, ../sass/screen.scss */
h2 {
  position: relative;
  float: left;
  display: block;
  margin-bottom: 5px;
}

/* line 184, ../sass/screen.scss */
p {
  position: relative;
  display: block;
  float: left;
  margin: 0 auto 18px;
}
/* line 189, ../sass/screen.scss */
p.first {
  margin-top: 18px;
}
/* line 192, ../sass/screen.scss */
p.shift-down {
  margin-bottom: 0px;
}

/* line 197, ../sass/screen.scss */
p, li {
  font-family: "Open Sans", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  color: #444;
}

/* line 205, ../sass/screen.scss */
a {
  position: relative;
  display: inline;
  text-decoration: none;
  color: #0088cc;
}
/* line 211, ../sass/screen.scss */
.container a:hover, header .right a:hover, footer a:hover {
  background-color: #E3F0F7;
}

/* line 217, ../sass/screen.scss */
blockquote {
  position: relative;
  display: block;
  float: left;
  border-left: 10px solid #f2f2f2;
  padding-left: 15px;
  padding-right: 15px;
  margin: 25px 0px 35px 20px;
}
/* line 225, ../sass/screen.scss */
blockquote p {
  font-size: 20px;
  line-height: 30px;
  font-weight: bold;
  color: #ed2525;
  margin: 0 0 20px 0;
  width: 100%;
}
/* line 232, ../sass/screen.scss */
blockquote p:last-child {
  margin-bottom: 0px;
}
/* line 236, ../sass/screen.scss */
blockquote.top {
  margin-top: 0px;
}

/* line 241, ../sass/screen.scss */
.quote-source {
  position: relative;
  display: block;
  float: right;
  text-align: right;
  margin: 0;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: normal;
  color: #222222;
}

/* line 253, ../sass/screen.scss */
.caption {
  position: relative;
  display: block;
  float: right;
  font-family: "Open Sans", Georgia;
  text-align: right;
  font-size: 12px;
  color: #666;
}

/* line 263, ../sass/screen.scss */
.footnotes {
  display: block;
  position: relative;
  float: left;
  margin-top: 15px;
  font-size: 12px;
}
/* line 269, ../sass/screen.scss */
.footnotes p {
  font-size: 12px;
}

/* line 274, ../sass/screen.scss */
.separator {
  position: relative;
  display: block;
  float: left;
  margin: 0 0 1em;
  text-align: center;
  width: 100%;
  font-size: 18px;
  color: #CCC;
}

/* line 285, ../sass/screen.scss */
.photo-block {
  position: relative;
  display: block;
  float: left;
  margin-top: 15px;
  margin-bottom: 18px;
}
/* line 291, ../sass/screen.scss */
.photo-block a:hover {
  background-color: transparent;
}
/* line 294, ../sass/screen.scss */
.photo-block.top {
  margin-top: 0px;
  margin-bottom: 0px;
}

/* line 300, ../sass/screen.scss */
img {
  width: 100%;
}
/* line 302, ../sass/screen.scss */
img.pull-left {
  float: left;
  vertical-align: top;
  padding: 10px 25px 10px 0;
}
/* line 307, ../sass/screen.scss */
img#about-cheekswab {
  margin-top: 8px;
  width: auto;
}
/* line 311, ../sass/screen.scss */
img.home-top {
  margin-bottom: 15px;
}

/* line 316, ../sass/screen.scss */
ol {
  position: relative;
  display: block;
  float: left;
  counter-reset: li;
  margin: 0 0 18px;
  padding: 15px 10px 15px 20px;
  width: 850px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
}
/* line 326, ../sass/screen.scss */
ol li {
  position: relative;
  margin: 0 0 10px 2em;
  padding: 4px 8px;
}

/* line 333, ../sass/screen.scss */
ul {
  width: 100%;
  position: relative;
  display: block;
  float: left;
  font-family: "Open Sans", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 26px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 342, ../sass/screen.scss */
ul li {
  margin-bottom: 4px;
}

/* line 350, ../sass/screen.scss */
.disqus-comments {
  position: relative;
  display: block;
  float: left;
  width: 100%;
  margin-top: 40px;
}

/* line 358, ../sass/screen.scss */
.hide-desktop {
  display: none;
}

/* line 363, ../sass/screen.scss */
.page-log ul {
  margin-top: 5px;
}
/* line 366, ../sass/screen.scss */
.page-log li {
  font-size: 14px;
  line-height: 21px;
}

/* line 372, ../sass/screen.scss */
.date {
  display: block;
  position: relative;
  font-weight: bold;
  font-family: Arial;
}

/* line 379, ../sass/screen.scss */
#help-content {
  display: none;
  position: relative;
  width: 80%;
  margin: 0 auto;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  background-color: #f2f2f2;
  border: 1px solid #bfbfbf;
  padding: 10px 20px;
  -webkit-box-shadow: 0px 0px 5px #c1c1c1 inset;
  -moz-box-shadow: 0px 0px 5px #c1c1c1 inset;
  box-shadow: 0px 0px 5px #c1c1c1 inset;
}

/* 500px width for 7" */
@media (max-width: 680px) {
  /* line 396, ../sass/screen.scss */
  .wrapper {
    width: 500px;
    padding: 0 20px;
  }

  /* line 401, ../sass/screen.scss */
  .container section#home .post-list .post-list-item .post-date {
    position: relative;
    float: left;
    display: block;
    font-size: 13px;
    line-height: 13px;
    margin-bottom: 0px;
    width: auto;
    vertical-align: bottom;
  }
  /* line 411, ../sass/screen.scss */
  .container section#home .post-list .post-list-item span.tag {
    position: relative;
    float: left;
    display: block;
    font-size: 12px;
    line-height: 16px;
    margin-left: 10px;
    vertical-align: bottom;
  }
  /* line 420, ../sass/screen.scss */
  .container section#home .post-list .post-list-item .meta {
    margin-top: 0px;
    border-left: 0px;
    padding-left: 0px;
    width: 100%;
  }
  /* line 425, ../sass/screen.scss */
  .container section#home .post-list .post-list-item .meta span.tag {
    display: none;
  }
  /* line 428, ../sass/screen.scss */
  .container section#home .post-list .post-list-item .meta .post-subtitle {
    line-height: 16px;
  }

  /* line 433, ../sass/screen.scss */
  .hide-desktop {
    display: inline-block;
  }

  /* line 437, ../sass/screen.scss */
  img {
    width: 500px;
  }

  /* line 441, ../sass/screen.scss */
  a#about-cheekswab-link {
    display: block;
    float: left;
    position: relative;
    width: 100%;
    text-align: center;
  }
  /* line 447, ../sass/screen.scss */
  a#about-cheekswab-link:hover {
    background-color: transparent;
  }
  /* line 450, ../sass/screen.scss */
  a#about-cheekswab-link img#about-cheekswab {
    display: inline-block;
    position: relative;
    padding: 0;
    margin: 0px auto 23px 40px;
    width: auto;
  }

  /* line 459, ../sass/screen.scss */
  p, li {
    font-size: 16px;
    line-height: 24px;
  }

  /* line 464, ../sass/screen.scss */
  ol {
    width: 470px;
  }

  /* line 468, ../sass/screen.scss */
  ul {
    margin-left: 0px;
    padding-left: 20px;
  }
  /* line 471, ../sass/screen.scss */
  ul li {
    font-size: 16px;
    line-height: 24px;
  }

  /* line 477, ../sass/screen.scss */
  blockquote {
    margin-left: 5px;
  }
  /* line 479, ../sass/screen.scss */
  blockquote p {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 18px;
  }

  /* line 485, ../sass/screen.scss */
  .quote-source {
    font-size: 12px;
  }
}
@media (max-width: 520px) {
  /* line 492, ../sass/screen.scss */
  .wrapper {
    width: 300px;
    padding: 0 15px;
  }

  /* line 496, ../sass/screen.scss */
  .container section#home .post-list .post-list-item .meta .post-title {
    line-height: 22px;
  }

  /* line 500, ../sass/screen.scss */
  h1 {
    font-size: 24px;
  }

  /* line 504, ../sass/screen.scss */
  p, li {
    font-size: 14px;
    line-height: 22px;
  }

  /* line 510, ../sass/screen.scss */
  a#about-cheekswab-link img#about-cheekswab {
    width: 200px;
    margin: 0px 0px 20px 35px;
  }

  /* line 516, ../sass/screen.scss */
  ol {
    width: 270px;
    padding: 10px 10px 5px 10px;
  }

  /* line 521, ../sass/screen.scss */
  ul {
    padding-left: 10px;
  }

  /* line 525, ../sass/screen.scss */
  blockquote {
    margin-left: 0px;
  }
  /* line 527, ../sass/screen.scss */
  blockquote p {
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 14px;
  }

  /* line 533, ../sass/screen.scss */
  .quote-source {
    font-size: 10px;
  }

  /* line 537, ../sass/screen.scss */
  img {
    width: 300px;
  }

  /* line 541, ../sass/screen.scss */
  a.post-title {
    margin: 3px 0;
    font-size: 16px !important;
    line-height: 18px !important;
  }

  /* line 546, ../sass/screen.scss */
  p.post-subtitle {
    font-size: 14px !important;
    line-height: 18px !important;
  }

  /* line 551, ../sass/screen.scss */
  .separator {
    margin-bottom: 1em;
  }
}
