/* line 12, ../sass/screen.scss */
html {
  height: 100%;
}

/* line 16, ../sass/screen.scss */
body {
  float: left;
  display: block;
  position: relative;
  height: 100%;
  background: url("/assets/img/bg_grid.png") repeat black;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #444;
}

/* line 26, ../sass/screen.scss */
div.wrapper {
  display: block;
  position: relative;
  float: left;
  background: url("/assets/img/paper.png") repeat white;
  border-right: 2px solid #444;
  min-height: 100%;
  width: 880px;
  padding: 0 40px;
}

/* line 37, ../sass/screen.scss */
header {
  display: block;
  position: relative;
  float: left;
  width: 100%;
}
/* line 42, ../sass/screen.scss */
header a.page-heading {
  float: left;
  display: block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 42px;
  font-weight: bold;
  color: #ed2525;
  text-shadow: 0px 0px 1px #ccc;
  filter: dropshadow(color=#cccccc, offx=0, offy=0);
  text-decoration: none;
  margin: 0 auto;
  padding: 20px 0;
}
/* line 56, ../sass/screen.scss */
header div.right {
  float: right;
  display: block;
  text-align: right;
  margin-top: 30px;
  font-family: "Open Sans";
  font-size: 12px;
  line-height: 18px;
}

/* line 67, ../sass/screen.scss */
div.container {
  position: relative;
  display: block;
  float: left;
  width: 100%;
  padding-bottom: 20px;
}
/* line 73, ../sass/screen.scss */
div.container section.tag-nav {
  position: relative;
  display: block;
  float: right;
  margin-bottom: 15px;
  font-size: 12px;
}
/* line 79, ../sass/screen.scss */
div.container section.tag-nav a {
  color: #adadad;
  display: inline-block;
}
/* line 82, ../sass/screen.scss */
div.container section.tag-nav a.active {
  font-weight: bold;
  color: #999;
}
/* line 89, ../sass/screen.scss */
div.container section#home {
  display: block;
  position: relative;
}
/* line 92, ../sass/screen.scss */
div.container section#home .post-list {
  display: block;
  padding: 0;
}
/* line 95, ../sass/screen.scss */
div.container section#home .post-list .post-list-item {
  float: left;
  display: block;
  margin-bottom: 25px;
}
/* line 99, ../sass/screen.scss */
div.container section#home .post-list .post-list-item.last {
  margin-bottom: 0px;
}
/* line 102, ../sass/screen.scss */
div.container section#home .post-list .post-list-item a:hover {
  background-color: transparent;
}
/* line 105, ../sass/screen.scss */
div.container section#home .post-list .post-list-item .post-date {
  display: block;
  float: left;
  width: 125px;
  font-size: 13px;
  line-height: 19px;
  font-family: Verdana;
  text-transform: uppercase;
  text-decoration: none;
  color: #ADADAD;
}
/* line 116, ../sass/screen.scss */
div.container section#home .post-list .post-list-item span.tag {
  font-size: 12px;
  font-style: italic;
  margin-left: 5px;
  color: #adadad;
}
/* line 122, ../sass/screen.scss */
div.container section#home .post-list .post-list-item .meta {
  display: block;
  float: left;
  width: 740px;
  border-left: 5px solid #f2f2f2;
  padding-left: 10px;
}
/* line 128, ../sass/screen.scss */
div.container section#home .post-list .post-list-item .meta .post-title {
  float: left;
  display: block;
  font-family: Helvetica;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  color: #222222;
  text-decoration: none;
}
/* line 139, ../sass/screen.scss */
div.container section#home .post-list .post-list-item .meta .post-subtitle {
  display: block;
  float: left;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  margin: 0px;
}
/* line 151, ../sass/screen.scss */
div.container div.post {
  display: block;
  position: relative;
  float: left;
}
/* line 155, ../sass/screen.scss */
div.container div.post h1 {
  margin-top: 0px;
}

/* line 161, ../sass/screen.scss */
footer {
  position: relative;
  display: block;
  float: left;
  text-align: right;
  width: 100%;
  font-size: 12px;
  margin: 20px 0 5px;
}

/* line 177, ../sass/screen.scss */
h1 {
  color: #222;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/* line 180, ../sass/screen.scss */
h1.top {
  margin-top: 0px;
}

/* line 184, ../sass/screen.scss */
h2 {
  position: relative;
  float: left;
  display: block;
  margin-bottom: 5px;
}

/* line 191, ../sass/screen.scss */
p {
  position: relative;
  display: block;
  float: left;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 26px;
  color: #444;
  width: 100%;
  margin: 10px 0;
}

/* line 203, ../sass/screen.scss */
a {
  position: relative;
  display: inline;
  text-decoration: none;
  color: #0088cc;
}
/* line 210, ../sass/screen.scss */
div.container a:hover, header div.right a:hover, footer a:hover {
  background-color: #E3F0F7;
}

/* line 216, ../sass/screen.scss */
blockquote {
  position: relative;
  display: block;
  float: left;
  border-left: 10px solid #f2f2f2;
  padding-left: 15px;
  margin-left: 20px;
  margin-bottom: 0px;
}
/* line 224, ../sass/screen.scss */
blockquote p {
  font-family: "Vollkorn", Georgia;
  font-size: 20px;
  line-height: 30px;
  color: #ed2525;
  margin-top: 0px;
  margin-bottom: 20px;
}
/* line 231, ../sass/screen.scss */
blockquote p:last-child {
  margin-bottom: 0px;
}
/* line 235, ../sass/screen.scss */
blockquote.top {
  margin-top: 0px;
}

/* line 240, ../sass/screen.scss */
p.quote-source {
  position: relative;
  display: block;
  float: right;
  text-align: right;
  font-family: "Playfair Display";
  margin-top: 0px;
  margin-bottom: 15px;
  text-transform: uppercase;
  font-size: 14px;
}

/* line 252, ../sass/screen.scss */
div.caption {
  position: relative;
  display: block;
  float: right;
  font-family: "Open Sans", Georgia;
  text-align: right;
  font-style: italic;
  font-size: 14px;
  color: #666;
}

/* line 268, ../sass/screen.scss */
div.separator {
  position: relative;
  display: block;
  float: left;
  margin: 20px 0;
  text-align: center;
  width: 100%;
  font-size: 18px;
  color: #CCC;
}

/* line 279, ../sass/screen.scss */
div.photo-block {
  position: relative;
  display: block;
  float: left;
  margin-top: 15px;
}
/* line 284, ../sass/screen.scss */
div.photo-block a:hover {
  background-color: transparent;
}
/* line 287, ../sass/screen.scss */
div.photo-block.top {
  margin-top: 0px;
}

/* line 292, ../sass/screen.scss */
img {
  width: 100%;
}
/* line 294, ../sass/screen.scss */
img.pull-left {
  float: left;
  vertical-align: top;
  padding: 10px 25px 10px 0;
}
/* line 299, ../sass/screen.scss */
img#about-cheekswab {
  margin-top: 8px;
  width: auto;
}
/* line 303, ../sass/screen.scss */
img.home-top {
  margin-bottom: 15px;
}

/* line 308, ../sass/screen.scss */
ol {
  position: relative;
  display: block;
  float: left;
  counter-reset: li;
  margin-left: 30px;
  padding-left: 0;
  width: 100%;
}
/* line 316, ../sass/screen.scss */
ol li {
  position: relative;
  margin: 0 0 10px 2em;
  padding: 4px 8px;
  list-style: none;
  background: transparent;
}
/* line 322, ../sass/screen.scss */
ol li:before {
  content: counter(li);
  counter-increment: li;
  position: absolute;
  top: 0px;
  left: -2em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 2em;
  margin-right: 8px;
  padding: 4px;
  color: #fff;
  background: #666;
  font-weight: bold;
  font-family: "Helvetica Neue", Arial, sans-serif;
  text-align: center;
}

/* line 343, ../sass/screen.scss */
ul {
  width: 100%;
  position: relative;
  display: block;
  float: left;
}
/* line 348, ../sass/screen.scss */
ul li {
  margin-bottom: 4px;
}

/* line 357, ../sass/screen.scss */
div.disqus-comments {
  position: relative;
  display: block;
  float: left;
  width: 100%;
  margin-top: 40px;
}

/* line 365, ../sass/screen.scss */
.hide-desktop {
  display: none;
}

/* 500px width for 7" */
@media (max-width: 680px) {
  /* line 374, ../sass/screen.scss */
  div.wrapper {
    width: 500px;
  }

  /* line 378, ../sass/screen.scss */
  div.container section#home .post-list .post-list-item .post-date {
    position: relative;
    float: left;
    display: block;
    font-size: 14px;
    line-height: 14px;
    margin-bottom: 0px;
    width: auto;
    vertical-align: bottom;
  }
  /* line 388, ../sass/screen.scss */
  div.container section#home .post-list .post-list-item span.tag {
    position: relative;
    float: left;
    display: block;
    font-size: 12px;
    line-height: 18px;
    margin-left: 10px;
    vertical-align: bottom;
  }
  /* line 397, ../sass/screen.scss */
  div.container section#home .post-list .post-list-item .meta {
    margin-top: 0px;
    border-left: 0px;
    padding-left: 0px;
    width: 100%;
  }
  /* line 402, ../sass/screen.scss */
  div.container section#home .post-list .post-list-item .meta span.tag {
    display: none;
  }
  /* line 405, ../sass/screen.scss */
  div.container section#home .post-list .post-list-item .meta .post-subtitle {
    line-height: 16px;
  }

  /* line 410, ../sass/screen.scss */
  .hide-desktop {
    display: inline-block;
  }

  /* line 414, ../sass/screen.scss */
  img {
    width: 500px;
  }

  /* line 418, ../sass/screen.scss */
  a#about-cheekswab-link {
    display: block;
    float: left;
    position: relative;
    width: 100%;
    clear: both;
    text-align: center;
  }
  /* line 425, ../sass/screen.scss */
  a#about-cheekswab-link:hover {
    background-color: transparent;
  }
  /* line 428, ../sass/screen.scss */
  a#about-cheekswab-link img#about-cheekswab {
    padding: 10px 0;
    margin: 0 auto;
  }

  /* line 434, ../sass/screen.scss */
  p {
    font-size: 16px;
    line-height: 24px;
  }

  /* line 439, ../sass/screen.scss */
  ol {
    margin-left: 20px;
  }

  /* line 443, ../sass/screen.scss */
  blockquote {
    margin-left: 5px;
  }
}
@media (max-width: 520px) {
  /* line 450, ../sass/screen.scss */
  div.wrapper {
    width: 300px;
  }

  /* line 453, ../sass/screen.scss */
  div.container section#home .post-list .post-list-item .meta .post-title {
    line-height: 22px;
  }

  /* line 457, ../sass/screen.scss */
  p {
    font-size: 14px;
    line-height: 22px;
  }

  /* line 462, ../sass/screen.scss */
  img#about-cheekswab {
    width: 300px;
  }

  /* line 466, ../sass/screen.scss */
  ol {
    margin-left: 10px;
  }
  /* line 468, ../sass/screen.scss */
  ol li {
    padding: 3px 6px;
    font-size: 16px;
    line-height: 24px;
  }

  /* line 475, ../sass/screen.scss */
  blockquote {
    margin-left: 0px;
    font-size: 18px;
    line-height: 28px;
  }

  /* line 481, ../sass/screen.scss */
  img {
    width: 300px;
  }
}
