<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

<head>
  {% include head.html %}
</head>

<body>
  <div class="wrapper clearfix">
    <header class="content">
      {% include header.html %}
    </header>
  
    {% if page.promo_url %}
    <div class="promo">
      <img src="{{ page.promo_url }}" title="{{ page.promo_alt }}"/>
    </div>
    {% endif %}

    <div class="container content">
      
      {{ content }}
      
    </div>

    <div class="clearfix"></div>

    <footer class="content">
      {% include footer.html %}
    </footer>
  </div>

</body>
</html>
