<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

<head>
  {% include head.html %}
</head>

<body>
    <div class="wrapper">
        {% include header.html %}

        {% if page.promo_url %}
        <div class="promo">
            <img src="{{ page.promo_url }}" class="promo__image" alt="{{ page.promo_alt }}"/>
        </div>
        {% endif %}

        <main class="container content" role="main">
            {{ content }}
        </main>

        <div class="clearfix"></div>

        {% include footer.html %}
    </div>
</body>
</html>
