<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <meta name="author" content="Daniel Na" />
   <title>{{ page.title }}</title>
   <meta name="description" content="Musings.  Personal blog of Daniel Na.">
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
   <meta content="width=device-width" name="viewport">
   <link href="/assets/css/normalize.css" media="screen, projection" rel="stylesheet" type="text/css" /> 
   <link href="/assets/css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> 
   <!-- web fonts -->
   <link href='http://fonts.googleapis.com/css?family=Open+Sans:400' rel='stylesheet' type='text/css'>
   <link href='http://fonts.googleapis.com/css?family=Playfair+Display' rel='stylesheet' type='text/css'>

   <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
   <!--[if lt IE 9]>
  <script src="/assets/js/html5shiv.js"></script>
  <![endif]-->
   <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-33126617-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

</script>
</head>
<body>
<div class="wrapper">
  <header>
    <a class="page-heading" href="/" title="home">musings</a>
    <div class="right">
      <a href="/about/" title="About">About</a> //
      <a href="http://feeds.feedburner.com/danielna/QHbQ" title="RSS">RSS</a>
      <br/>
      Email: dan@domain
    </div>
  </header>

  <div class="container">
    
    {{ content }}
    
  </div>

  <div class="clearfix"></div>

  <footer>
    <a href="http://www.twitter.com/dxna" title="@dxna" target="_blank">@dxna</a> // 
    <a href="https://pinboard.in/u:danielna" title="pinboard" target="_blank">pinboard</a> //
    <a href="http://www.github.com/danielna" title="danielna @ github" target="_blank">github</a> //
    <a href="http://www.linkedin.com/in/danielna" title="LinkedIn" target="_blank">LinkedIn</a>
    <br/>
    This page may appear irregular in any non-modern browser.
  </footer>
</div>

</body>
</html>
